/* Common CSS Starts */

body {
    margin: 0;
}

.font-white {
    font-family: 'Roboto', sans-serif;
    color: white;
}

.font-black {
    font-family: 'Roboto', sans-serif;
    color: black;
}

.common-btn {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #FF5959;
    padding: 15px 30px;
    border-radius: 5px;
    font-size: 20px;
}

.section-all {
    height: 600px;
    padding-bottom: 100px;
}

.space-above {
    padding-top: 100px;
}

.paragraph-lite {
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 18px;
    opacity: 0.7;
}

.cancel-margin {
    margin-top: -70px;
}

.div-center {
    text-align: center;
}

/* Common CSS Finished */

/* Section-1 CSS Starts */
.section-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/donation0.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.first-div-centre {
    text-align: center;
    padding-top: 10%;
}

/* Section-1 CSS Finished */

/* Section-2 CSS Starts */

.donate-text {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
    opacity: 0.6;
}

.donate-text-selected {
    font-size: 30px;
    font-weight: 700;
    font-family: 'Roboto', sans-serif;
}

.donate-amount {
    background-color: #F5F5F5;
    padding: 35px 20px;
    color: black;
    border-radius: 5px;
    margin-left: 1%;
}

.donate-amount-oversize {
    background-color: #F5F5F5;
    padding: 35px 10px;
    color: black;
    border-radius: 5px;
    margin-left: 1%;
}

.donate-amount-selected {
    background-color: #FFEEEE;
    padding: 35px 20px;
    color: #FF5959;
    border-radius: 5px;
    margin-left: 1%;
    border-style: solid;
    border-color: #FF5959;
}

.line-position {
    margin-top: -25px;
    opacity: 0.4;
}

.line-text {
    font-family: 'Roboto', sans-serif;
    color: black;
    opacity: 0.4;
}

.input-div {
    padding-left: 15px;
}

.donate-input {
    outline: 0;
    border-width: 0 0 2px;
    border-color: rgb(0, 0, 0, 0.1);
    width: 48%;

}

.donate-input:focus {
    border-color: green
}


.donate-input::-webkit-input-placeholder {
    text-align: center;
    font-size: 18px;
    opacity: 0.6;
}

/* Section-2 CSS Finished */

/* Section-3 CSS Starts */

.main-box-div {
    display: flex;
    justify-content: center;
}

.box-item-1 {
    width: 20%;
    background-color: rgba(79, 157, 166, 0.1);
    margin: 10px;
    padding: 40px 20px;
    border-radius: 5px;
}

.box-item-2 {
    width: 20%;
    background-color: rgba(255, 89, 89, 0.1);
    margin: 10px;
    padding: 40px 20px;
    border-radius: 5px;
}

.box-item-3 {
    width: 20%;
    background-color: rgb(255, 244, 214);
    margin: 10px;
    padding: 40px 20px;
    border-radius: 5px;
}

/* Section-3 CSS Finished */

/* Section-4 CSS Starts */


.news-image {
    width: 100%;
    height: 250px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.news-box {
    width: 25%;
    height: 500px;
    border-radius: 5px;
    box-shadow: 0px 7px 10px 0px gray;
    text-align: center;
    margin: 10px;
}

.news-box a {
    text-decoration: none;
    color: white;
    background-color: rgb(255, 0, 247);
    padding: 5px 5px;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.main-box-news {
    display: flex;
    justify-content: center;
}

/* Section-4 CSS Finished */

/* Section-5 CSS Starts */

.email-input[type="text"] {
    border: none;
    height: 44px;
    padding-right: 150px;
    margin-right: -50px;
    background-color: #E1D9D1;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.submit-input[type="submit"] {
    border: none;
    height: 46px;
    color: white;
    background-color: #FF5959;
    font-family: 'Roboto', sans-serif;
    padding: 0px 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.submit-input:hover {
    cursor: pointer;
}

.email-input::-webkit-input-placeholder {
    padding-left: 10px;
}

.email-input:focus {
    outline: none
}